@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Oswald:wght@200..700&display=swap');
#aboutme {
    background-color: #f5f9ff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    align-items: center;
    min-height: 64vh;
    overflow: visible;
}
@media (max-width: 700px) {
    #aboutme{
        padding-bottom: calc(5vh + 60px);
    }
}
@media (max-width: 379px) {
    #aboutme{
        padding-bottom: calc(5vh + 120px);
    }

}
.divIcons{
    width: 100%;
    margin-top: 40px; /* بدال top */
    display: flex;
    justify-content: center;
}

.Icons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    transform: none;
}

@media (min-width: 950px) {
    .Icons{
        gap: 80px;

    }
}
.screen{
    top: 3vh;

}
.screenAnimation{
    animation-name: showScreen;
    animation-duration: 0.7S;
    animation-iteration-count: 1;
    position: relative;
}
@keyframes showScreen{
    0%{
        top:6vh;
        opacity: 0;
    }100%{
    top: 3vh;
    opacity: 1;
         }
}

.Hiden{
    opacity: 0;
}
.AboutMe{
    opacity: 1;
    font-size: 25px;
    position: relative;


}
.screen{
    width: 80vw;
    max-width: 500px;
    border-radius: 20px;
    display: inline;
}
.line{
    width:70px;
    height: 14px;
    position: relative;
    border-radius: 10px;
    background-color: #535bf2;
    top: -20px;
}
.show{
    opacity: 1;
}
.WantTo{
    position: relative;
    text-align: center;
    font-family: "Figtree", sans-serif;

}
#fadein{
    animation-name: fadeinTitle;
    animation-duration: 0.7s;
    animation-iteration-count: 1;

}
@keyframes fadeinTitle {
    0%{
        opacity: 0;
        top: 50px;
    }
    100%{
        top:0;
        opacity:1;

    }
}
#fadeinDiv{
    animation-name: fadeinDiv;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
}
@keyframes fadeinDiv {
    0%{
        opacity: 0;
        top: 40px;
    }
    100%{
        top: -20px;

        opacity:1;

    }

}

